In [21]:
import pandas as pd
import numpy as np

In [22]:
df_autogen = pd.read_excel('../0_data/autogen_captions.xlsx')
df_autogen.head()

,Long,Auto_caption
0,2015-11-18_18-26-59_UTC.jpg,a picture of a woman with long black hair sits...
1,2015-06-01_07-45-08_UTC.jpg,a picture of a woman with black hair and a bla...
2,2015-07-06_10-38-30_UTC.jpg,a picture of a woman with black hair and a bla...
3,2020-04-10_08-57-20_UTC.jpg,a picture of a woman wearing a black jacket an...
4,2019-10-24_11-49-40_UTC.jpg,a picture of a woman in a red dress sits on a ...

In [23]:
df_autogen['Long'] = df_autogen['Long'].apply(lambda x:x.split('.')[0])
df_autogen

,Long,Auto_caption
0,2015-11-18_18-26-59_UTC,a picture of a woman with long black hair sits...
1,2015-06-01_07-45-08_UTC,a picture of a woman with black hair and a bla...
2,2015-07-06_10-38-30_UTC,a picture of a woman with black hair and a bla...
3,2020-04-10_08-57-20_UTC,a picture of a woman wearing a black jacket an...
4,2019-10-24_11-49-40_UTC,a picture of a woman in a red dress sits on a ...
...,...,...
759,2023-11-08_17-37-17_UTC_4,a picture of a woman in a black coat and sungl...
760,2023-11-08_17-37-17_UTC_5,a picture of a woman with brown hair wearing a...
761,2013-10-08_12-40-36_UTC,a picture of a woman with black hair and a bar...
762,2014-03-21_10-14-52_UTC,a picture of a young woman with long brown hai...
763,2014-04-12_09-13-03_UTC,"a picture of a group of beautiful women, dress..."

In [24]:
df_codes = pd.read_excel('../0_data/dataframe_codigos.xlsx')
df_codes.head()

,id,Short,Long,link,Objectify (yes or no)
0,1,CzTyW00KYzC,2023-11-06_15-12-10_UTC,https://www.instagram.com/p/CzTyW00KYzC/,1
1,2,C0PzOJxhEv7,2023-11-29_22-34-09_UTC,https://www.instagram.com/p/C0PzOJxhEv7/,0
2,3,CzxRQd0tbV6,2023-11-18_02-00-09_UTC,https://www.instagram.com/p/CzxRQd0tbV6/,0
3,4,CzZIXBVMWdZ,2023-11-08_17-00-38_UTC_1,https://www.instagram.com/p/CzZIXBVMWdZ/?img_i...,1
4,4,CzZIXBVMWdZ,2023-11-08_17-00-38_UTC_2,https://www.instagram.com/p/CzZIXBVMWdZ/?img_i...,1

In [25]:
df_codes = df_codes[['Long', 'Short']]

In [26]:
print(len(df_codes))
print(len(df_autogen))

884
764

In [27]:
# merge dataframes to get shortcodes
df_merge1 = df_autogen.merge(df_codes, how ='left', on = 'Long')
df_merge1.head()

,Long,Auto_caption,Short
0,2015-11-18_18-26-59_UTC,a picture of a woman with long black hair sits...,-PHbiexlr_
1,2015-06-01_07-45-08_UTC,a picture of a woman with black hair and a bla...,3YO1o0Rlkt
2,2015-07-06_10-38-30_UTC,a picture of a woman with black hair and a bla...,4yqgDyxloK
3,2020-04-10_08-57-20_UTC,a picture of a woman wearing a black jacket an...,B-y2Fo8qcN_
4,2019-10-24_11-49-40_UTC,a picture of a woman in a red dress sits on a ...,B3__d73i46x

In [28]:
df_merge1.columns

Index(['Long', 'Auto_caption', 'Short'], dtype='object')

In [29]:
df_merge1.columns = ['Long', 'Auto_caption', 'Short']

## Colapse photos into one post

In [30]:
joint_text = {}
for code in df_merge1['Short']:
    df_temp = df_merge1[df_merge1['Short'] == code]
    joined_string = df_temp['Auto_caption'].str.cat(sep=' ')
    joint_text[code] = joined_string
len(joint_text)

260

In [31]:
# Convert to DataFrame
df_joint_text_auto = pd.DataFrame.from_dict(joint_text, orient='index').reset_index()

# Rename columns
df_joint_text_auto.columns = ['Short', 'Auto_caption']
df_joint_text_auto

           Short                                       Auto_caption
0     -PHbiexlr_  a picture of a woman with long black hair sits...
1     3YO1o0Rlkt  a picture of a woman with black hair and a bla...
2     4yqgDyxloK  a picture of a woman with black hair and a bla...
3    B-y2Fo8qcN_  a picture of a woman wearing a black jacket an...
4    B3__d73i46x  a picture of a woman in a red dress sits on a ...
..           ...                                                ...
255  CzZIXBVMWdZ  a picture of a smiling white woman with brown ...
256  CzZMjcYMP21  a picture of a woman with long brown hair wear...
257   fNO52Nxluy  a picture of a woman with black hair and a bar...
258   lzQl_gRlnD  a picture of a young woman with long brown hai...
259   mrzAb-Rlkt  a picture of a group of beautiful women, dress...

[260 rows x 2 columns]

Import regular captions and join with long captions

In [34]:
df_captions = pd.read_excel('../0_data/dataframe_captions.xlsx')
df_captions.head()

         Short                                            caption
0   -PHbiexlr_  Stunning Mariana Rodriguez in #amencouture. Se...
1   3YO1o0Rlkt  @emastokholma in Amen embroidered #dress from ...
2   4yqgDyxloK  Stunning DJ @emastokholma wears all over paill...
3  B-y2Fo8qcN_  Crystal Pumps ✨ #AmenStyle #AmenPreSpring20 #A...
4  B3__d73i46x  Discover our FW19 Collection on amenstyle.com ...

In [37]:
df_final = df_joint_text_auto.merge(df_captions, how = 'left', on = 'Short')
df_final

,Short,Auto_caption,caption
0,-PHbiexlr_,a picture of a woman with long black hair sits...,Stunning Mariana Rodriguez in #amencouture. Se...
1,3YO1o0Rlkt,a picture of a woman with black hair and a bla...,@emastokholma in Amen embroidered #dress from ...
2,4yqgDyxloK,a picture of a woman with black hair and a bla...,Stunning DJ @emastokholma wears all over paill...
3,B-y2Fo8qcN_,a picture of a woman wearing a black jacket an...,Crystal Pumps ✨ #AmenStyle #AmenPreSpring20 #A...
4,B3__d73i46x,a picture of a woman in a red dress sits on a ...,Discover our FW19 Collection on amenstyle.com ...
...,...,...,...
255,CzZIXBVMWdZ,a picture of a smiling white woman with brown ...,”GUIRLANDE” with @kendalljenner\nThe holiday c...
256,CzZMjcYMP21,a picture of a woman with long brown hair wear...,This season must-have. @fashionhurricanebyv in...
257,fNO52Nxluy,a picture of a woman with black hair and a bar...,Valentina Vignali looks explosive in a preciou...
258,lzQl_gRlnD,a picture of a young woman with long brown hai...,Regram @nimabenati #amenstyle #amen #fashion #...
259,mrzAb-Rlkt,"a picture of a group of beautiful women, dress...",RG @nimabenati #amencouture amenstyle.com\n

In [39]:
df_final['All_text'] = df_final['caption'] + ' ' + df_final['Auto_caption']
df_final

,Short,Auto_caption,caption,All_text
0,-PHbiexlr_,a picture of a woman with long black hair sits...,Stunning Mariana Rodriguez in #amencouture. Se...,Stunning Mariana Rodriguez in #amencouture. Se...
1,3YO1o0Rlkt,a picture of a woman with black hair and a bla...,@emastokholma in Amen embroidered #dress from ...,@emastokholma in Amen embroidered #dress from ...
2,4yqgDyxloK,a picture of a woman with black hair and a bla...,Stunning DJ @emastokholma wears all over paill...,Stunning DJ @emastokholma wears all over paill...
3,B-y2Fo8qcN_,a picture of a woman wearing a black jacket an...,Crystal Pumps ✨ #AmenStyle #AmenPreSpring20 #A...,Crystal Pumps ✨ #AmenStyle #AmenPreSpring20 #A...
4,B3__d73i46x,a picture of a woman in a red dress sits on a ...,Discover our FW19 Collection on amenstyle.com ...,Discover our FW19 Collection on amenstyle.com ...
...,...,...,...,...
255,CzZIXBVMWdZ,a picture of a smiling white woman with brown ...,”GUIRLANDE” with @kendalljenner\nThe holiday c...,”GUIRLANDE” with @kendalljenner\nThe holiday c...
256,CzZMjcYMP21,a picture of a woman with long brown hair wear...,This season must-have. @fashionhurricanebyv in...,This season must-have. @fashionhurricanebyv in...
257,fNO52Nxluy,a picture of a woman with black hair and a bar...,Valentina Vignali looks explosive in a preciou...,Valentina Vignali looks explosive in a preciou...
258,lzQl_gRlnD,a picture of a young woman with long brown hai...,Regram @nimabenati #amenstyle #amen #fashion #...,Regram @nimabenati #amenstyle #amen #fashion #...
259,mrzAb-Rlkt,"a picture of a group of beautiful women, dress...",RG @nimabenati #amencouture amenstyle.com\n,RG @nimabenati #amencouture amenstyle.com\n a ...

In [45]:
df_obj = pd.read_excel('../0_data/dataframe_codigos.xlsx')
df_obj = df_obj[['Short', 'Objectify (yes or no)']]
df_obj.columns = ['Short', 'Objectify']
df_obj.head()

         Short  Objectify
0  CzTyW00KYzC          1
1  C0PzOJxhEv7          0
2  CzxRQd0tbV6          0
3  CzZIXBVMWdZ          1
4  CzZIXBVMWdZ          1

In [54]:
df_save = df_final.merge(df_obj, how='left', on='Short')
df_save.head()

,Short,Auto_caption,caption,All_text,Objectify
0,-PHbiexlr_,a picture of a woman with long black hair sits...,Stunning Mariana Rodriguez in #amencouture. Se...,Stunning Mariana Rodriguez in #amencouture. Se...,1.0
1,3YO1o0Rlkt,a picture of a woman with black hair and a bla...,@emastokholma in Amen embroidered #dress from ...,@emastokholma in Amen embroidered #dress from ...,1.0
2,4yqgDyxloK,a picture of a woman with black hair and a bla...,Stunning DJ @emastokholma wears all over paill...,Stunning DJ @emastokholma wears all over paill...,1.0
3,B-y2Fo8qcN_,a picture of a woman wearing a black jacket an...,Crystal Pumps ✨ #AmenStyle #AmenPreSpring20 #A...,Crystal Pumps ✨ #AmenStyle #AmenPreSpring20 #A...,1.0
4,B3__d73i46x,a picture of a woman in a red dress sits on a ...,Discover our FW19 Collection on amenstyle.com ...,Discover our FW19 Collection on amenstyle.com ...,1.0

In [56]:
#drop duplicates
df_dropped_duplicates = df_save.drop_duplicates()
df_dropped_duplicates

,Short,Auto_caption,caption,All_text,Objectify
0,-PHbiexlr_,a picture of a woman with long black hair sits...,Stunning Mariana Rodriguez in #amencouture. Se...,Stunning Mariana Rodriguez in #amencouture. Se...,1.0
1,3YO1o0Rlkt,a picture of a woman with black hair and a bla...,@emastokholma in Amen embroidered #dress from ...,@emastokholma in Amen embroidered #dress from ...,1.0
2,4yqgDyxloK,a picture of a woman with black hair and a bla...,Stunning DJ @emastokholma wears all over paill...,Stunning DJ @emastokholma wears all over paill...,1.0
3,B-y2Fo8qcN_,a picture of a woman wearing a black jacket an...,Crystal Pumps ✨ #AmenStyle #AmenPreSpring20 #A...,Crystal Pumps ✨ #AmenStyle #AmenPreSpring20 #A...,1.0
4,B3__d73i46x,a picture of a woman in a red dress sits on a ...,Discover our FW19 Collection on amenstyle.com ...,Discover our FW19 Collection on amenstyle.com ...,1.0
...,...,...,...,...,...
854,CzZIXBVMWdZ,a picture of a smiling white woman with brown ...,”GUIRLANDE” with @kendalljenner\nThe holiday c...,”GUIRLANDE” with @kendalljenner\nThe holiday c...,1.0
874,CzZMjcYMP21,a picture of a woman with long brown hair wear...,This season must-have. @fashionhurricanebyv in...,This season must-have. @fashionhurricanebyv in...,0.0
879,fNO52Nxluy,a picture of a woman with black hair and a bar...,Valentina Vignali looks explosive in a preciou...,Valentina Vignali looks explosive in a preciou...,1.0
880,lzQl_gRlnD,a picture of a young woman with long brown hai...,Regram @nimabenati #amenstyle #amen #fashion #...,Regram @nimabenati #amenstyle #amen #fashion #...,1.0
881,mrzAb-Rlkt,"a picture of a group of beautiful women, dress...",RG @nimabenati #amencouture amenstyle.com\n,RG @nimabenati #amencouture amenstyle.com\n a ...,1.0

In [57]:
df_dropped_duplicates.groupby(['Objectify'])[['Objectify']].count()

           Objectify
Objectify
0.0               86
1.0              175

In [58]:
df_dropped_duplicates.to_excel('../0_data/captions_autocaptons.xlsx', index = False)